{% extends 'admin/admin.html.twig' %}

{% block title %}Edit Puppys{% endblock %}

{% block Admin %}
    <div class="container">

        <h1>Editer l'Annonce</h1>
        <a href="{{ path('puppys_index') }}">back to list</a>

        {{ include('puppys/_form.html.twig', {'button_label': 'Update'}) }}


            <div class="row">
                <div class="col-8">    <div>
                        {% include 'uploader/dropzone.html.twig' with {'id' : carrousel.id} %}
                    </div></div>
            </div>
            <div class="row">
                {% for elem in images %}
                    <div class="presentation col-2 ">
                        <img src="{{ elem.path  | imagine_filter('squared_thumbnail') }}">
                        {% set photo = { 'photo': elem } %}
                        {% include 'uploader/_delete_form.html.twig' with photo %}
                    </div>

                {% endfor %}
            </div>

        {{ include('puppys/_delete_form.html.twig') }}
    </div>

{% endblock %}
