{% extends 'base.html.twig' %}

{% block title %}Hello AnnonceController!{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-4 post-item categ-activite" ><div class="card" style="width: 18rem;">
                <img src="asset/img.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Kadoc</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

        <div class="col-4 post-item categ-roi"><div class="card" style="width: 18rem;">
                <img src="asset/2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Roi B.</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

        <div class="col-4 post-item categ-roi"><div class="card" style="width: 18rem;">
                <img src="asset/3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Atila</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>


    </div>

{% endblock %}
