body {
    background-color: lightgray;
}


.header-container{
    background-color: grey;
    align-content: center;
    margin-bottom: 5rem;
}

.header-title{
    /*display: flex;*/
    text-align: center;
}

.header-link{
    margin: auto;
    height: 50px;
    width: 150px;
    background-color: #0f6674;
    margin-bottom: 2rem;
}

.carousel-container{

 align-items: center;
}

.carousel-container>div{
    margin: auto;
}

img{
    max-width: 100%;
}

.align-exemple > div{
    border : 2px solid black;
}

.my-slider-item{
    height: 500px;
    background-size: cover;
    background-position: center;
    /*background-attachment: fixed;*/
}

@media screen and (max-width: 750px ){
    .my-slider-item{
        height: 400px;
    }
}

/************Annonces**********************/
.card{
    /*align-items: center;*/
}

.pupy-carousel-inner{
    width: 20rem;
}

.puppy-slider-item{
    height: 18rem;
    width: 20rem;
    background-size: cover;
    background-position: center;
    /*background-attachment: fixed;*/
}

/*************Presentation***********************/


.dog-carousel-inner{
    width: 20rem;
}

.dog-slider-item{
    height: 18rem;
    width: 20rem;
    background-size: cover;
    background-position: center;
    /*background-attachment: fixed;*/
}