{% extends 'base.html.twig' %}

{% block title %}Hello GaleryController!{% endblock %}

{% block body %}
{% dump %}

    <div id="fullSize" class ="hide"  > </div>


    <div class="col-12 ml-5">
            {% for elem in carrousel %}
                    {% for image in elem.images %}
                        <a class="zoom" href="#" onclick="show(this.name)" name="{{ image.path }}">
                            <img class="thumb" src="{{ image.path  | imagine_filter('squared_thumbnail') }}"/>
                        </a>
                    {% endfor %}
            {% endfor %}
    </div>

    <script src="{{ asset('asset/dropzone.js') }}"></script>



{% endblock %}
